/* Estilos Gerais */
header {
    background-color: white;
    color: black;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
}

body {
    color: black;
    background-color: #e9e9e9 !important; 
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;    
}

main {
    position: relative;
    min-height: 100vh;
}

.row {
    margin: 0;
}

.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Estilos para o bloco do "Navbar" */
.navbar-brand, .nav-link, .navbar a{
    cursor: pointer;
    color: black;
    padding: 10px 15px; 
    margin: 2px 8px; 
    font-weight: bold;
}

#nav-container{ 
    background-color: #e9e9e9;
}

#nav-link-entrar {
    border: 2px solid green;
    color: green;
    border-radius: 8px;
}

#nav-link-entrar:hover {
    background-color: green;
    color: white;
}

#nav-link-sair {
    border: 2px solid #dc3545;
    color: #dc3545;
    border-radius: 8px; 
}

#nav-link-sair:hover {
    background-color: #dc3545;
    color: white;
}

/* Estilos para as setas do "Carousel" */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    visibility: hidden;
}

/* Estilo para os indicadores do "Carrossel" */
.carousel-indicators button {
    visibility: visible;
    background-color: darkgreen !important; 
    width: 10rem !important; 
    height: 0.5rem !important; 
}

.carousel-indicators .active {
    background-color: green !important; 
}

/* Estilos para os blocos do "Carousel" */
#main-slider {
    width: auto;
    padding: 1rem;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#servico {
    width: auto;
    padding: 1rem;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#servico .card{
    transition: transform 0.5s;
    margin: 10rem;
}

#servico .card:hover {
    transform: scale(1.05);
}

/* Estilos o bloco do "Sobre" */
#sobre {
    width: auto;
    padding: 1rem;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sobre .card{
    border: none;
}

#image-instituicao {
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#image-aluno {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#descricao-aluno {
    text-align: right; 
}

/* Estilos o bloco do "menu" */
#menu {
    width: auto;
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* -------------------------- Responsividade de tela no minimo 720px -------------------------- */
@media (min-width: 720px) {
    /* Estilos para as setas do "Carousel" */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        visibility: visible;
        background-color: darkgreen; 
    }

    .carousel-control-prev:hover .carousel-control-prev-icon,
    .carousel-control-next:hover .carousel-control-next-icon {
        background-color: darkgreen; 
    }

    /* Estilos para os "Card" do "Carousel" */
    .carousel-item .card {
        flex: 1;
        height: 100%; 
        display: flex;
        flex-direction: column;
    }
    .carousel-item .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    /* Estilos para os blocos do "Carousel" */
    #main-slider {
        background-image: url('../imagens/bannerMain2.png');
        padding: 3rem;
        margin: 1rem;
    }    

    #servico {
        background-image: url('../imagens/bannerMain2.png');
        padding: 3rem;
        margin: 1rem;
    }

    /* Estilos o bloco do "Sobre" */
    #sobre {
        padding: 3rem;
        margin: 1rem;
    }
}

/* -------------------------- Responsividade de tela no minimo 1024px -------------------------- */
@media (min-width: 1024px) {
    /* Estilos para as setas do "Carousel" */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        visibility: visible;
        background-color: darkgreen; 
    }

    .carousel-control-prev:hover .carousel-control-prev-icon,
    .carousel-control-next:hover .carousel-control-next-icon {
        background-color: darkgreen; 
    }

    /* Estilos para os "Card" do "Carousel" */
    .carousel-item .card {
        flex: 1;
        height: 100%; 
        display: flex;
        flex-direction: column;
    }
    .carousel-item .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    /* Estilos para os blocos do "Carousel" */
    #main-slider {
        background-image: url('../imagens/bannerMain2.png');
        padding: 4rem;
        margin: 2rem;
    }    

    #servico {
        background-image: url('../imagens/bannerMain2.png');
        padding: 4rem;
        margin: 2rem;
    }

    /* Estilos o bloco do "Sobre" */
    #sobre {
        padding: 4rem;
        margin: 2rem;
    }
}

/* -------------------------- Responsividade de tela no minimo 1280px -------------------------- */
@media (min-width: 1280px) {
    /* Estilos para as setas do "Carousel" */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        visibility: visible;
        background-color: darkgreen; 
    }

    .carousel-control-prev:hover .carousel-control-prev-icon,
    .carousel-control-next:hover .carousel-control-next-icon {
        background-color: darkgreen; 
    }

    /* Estilos para os "Card" do "Carousel" */
    .carousel-item .card {
        flex: 1;
        height: 100%; 
        display: flex;
        flex-direction: column;
    }
    .carousel-item .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    /* Estilos para os blocos do "Carousel" */
    #main-slider {
        background-image: url('../imagens/bannerMain.png');
        padding: 5rem;
        margin: 3rem;
    }    

    #servico {
        background-image: url('../imagens/bannerMain2.png');
        padding: 5rem;
        margin: 3rem;
    }

    /* Estilos o bloco do "Sobre" */
    #sobre {
        padding: 5rem;
        margin: 3rem;
    }
}

